:root {
    /* theme dark */
    --parma-violet-dark: #3B467D;
    --greyed-lavender-dark: #585C80;
    --sun-burst-yellow-dark: #804400;
    --sun-burst-yellow-black-dark: #2E1900;
    
    /* theme light */
    --parma-violet-light: #778efd;
    --greyed-lavender-light: #aeb8fe;
    --sun-burst-yellow-light: #ff8800;
    --sun-burst-yellow-black-light: #ad5c00;

    --violet-pc: #27187E;
    --warn-grey: #F1F2F6;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

header#header,
main#main
{
    transition: background-color 600ms;
}