:root {
    /* Theme Dark */
    --parma-violet-dark: #3B467D;
    --greyed-lavender-dark: #585C80;
    --sun-burst-yellow-dark: #6d4920;
    --sun-burst-yellow-black-dark: #4b3315;
    
    /* Theme Light */
    --parma-violet-light: #778efd;
    --greyed-lavender-light: #aeb8fe;
    --sun-burst-yellow-light: #da8b31;
    --sun-burst-yellow-black-light: #aa6f2b;

    /* Theme Light Error */
    --cinnabar-light: #D64933;
    --pastel-pink-light: #E2978E;

    /* Theme Dark Error */
    --cinnabar-dark: #862112;
    --pastel-pink-dark: #714c47
    ;

    --violet-pc: #27187E;
    --warn-grey: #F1F2F6;
    --warn-grey-darkness: #727376;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}