:root {
    --violet-pc: #27187E;
    --parma-violet: #758BFD;
    --greyed-lavender: #AEB8FE;
    --warn-grey: #F1F2F6;
    --sun-burst-yellow: #FF8600;
    --sun-burst-yellow-black: #ad5c00;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}